.module {
  all: unset;
}
body {
  background-color: rgb(29, 28, 28)
}
div, button {
  margin: 10px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white
}
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin: auto;
  width: 70%;
  color: rgb(126, 121, 121)

}

.home {
  text-align: center;

}

button{
  background-color: lightgray;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color:rgb(23, 138, 84)

}


.playlist-title{
  font-size: 20px

}
.playlist-container-closed {
  width: "350px";
  height: "350px";
  display: inline-block;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-Radius: 10px;
  color: rgb(126, 121, 121) 
}
.playlist-container-open {
  /* width: "500px"; */
  /* height: "350px"; */
  font-size: 20px;
  display: inline-block;
  padding: 1px;
  border-Radius: 10px;
  color: rgb(126, 121, 121) 
}

.song-title{
  text-Align: left;
  font-Size: 20px
}
.show {
  visibility: visible ;
  width: 500px;
  background-color: none;
  /* background-Color: rgba(104, 99, 99, 0.61);
  padding-bottom: 10px; */

}

.hide {
  display: none
}

/* .playlist-container-open:hover {
  width: "700px";
  background-Color: rgba(104, 99, 99, 0.61) ;
  color: black;
box-shadow: 0 12px 16px 0 rgba(126, 121, 121, 0.39),0 17px 50px 0 rgba(126, 121, 121, 0.61);
/* rgb(126, 121, 121) */
/* } */ */
/* .playlist-container-closed:hover {
  background-Color: rgba(104, 99, 99, 0.61) ;
  color: black;
box-shadow: 0 12px 16px 0 rgba(126, 121, 121, 0.39),0 17px 50px 0 rgba(126, 121, 121, 0.61);
/* rgb(126, 121, 121) */
/* } */ */

.Intro-page{
  justify-content: center
}
.loggedIn {
  padding-top: 55px 
}
.loggedOut {
  padding: 15%;
}
