body {
  background-color: rgb(94, 91, 91)
}
div, button {
  margin: 20px;
  
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home {
  text-align: center;

}

button{
  background-color: lightgray;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 4px;
  padding: 20px;
  color: white;
  background-color: darkgreen;

}
.playlist-title {
  font-size: 16px;
  font-weight: 800;
  color: black
}

.song-title{
font-weight: 200;
}
.verdict {
  color: red;
  font-size: 30px
}
.none {
  display: none
}
.song-title {
  color: black
}