

.module {
  all: unset;
}
body {
  background-color: rgb(29, 28, 28);
}
ul {
  background-color: "rgb(29, 28, 28)";
}
div,
button {
  margin: 0px 10px;
  font-weight: 200;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


/* ////  Navigation ///////// */
.profile-container {
  width: 790px;
  margin: auto;
}
.profile {
  width: 260px;
  border-radius: 15px;
  float: left;
}
.bio {
  width: 460px;
  float: right;
}


/* ////////// Containers ////  */

.hash-container{
margin: 40px 80px 30px 80px;
}

.paragraph {
  width: 35%;
  margin: auto;
  background-color: rgb(29, 28, 28);
}
.title{
  margin: 20px;
}
.selected {
  background-color: rgb(29, 28, 28);
}
.slide {
  background-color: rgb(29, 28, 28);
}
li {
  background-color: rgb(29, 28, 28);
}
.carousel {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background-color: rgb(29, 28, 28);
}
.carousel-slider {
  background-color: rgb(29, 28, 28);
}

.usage {
  margin: auto;
  margin-top: -30px;
}
a {
  display: flex;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(126, 121, 121);
}
a:hover {
  color: #1bb954;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 42px;
  color: white;
  margin: 35px 0px 12px 0px;
  width: 100%;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  /* width: 65%; */
  color: rgb(126, 121, 121);
}

.home {
  text-align: center;
}

button {
  background-color: lightgray;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 40px;
  padding: 15px;
  color: white;
  background-color: rgb(23, 138, 84);
  border: none;
}
button:hover {
  background-color: #1bb954;
}

.playlist-title {
  font-size: 20px;
}
.playlist-container-closed {
  width: "350px";
  height: "350px";
  display: inline-block;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  color: rgb(126, 121, 121);
  
}
.album-image {
  height: "220px";
  width: 200px;
}
.album-image:hover {
  box-shadow: 0 12px 16px 0 rgba(128, 125, 125, 0.39),
    0 17px 50px 0 rgba(128, 125, 125, 0.61);
}
.my-slide-container {
  background-color: "rgb(29, 28, 28)";
  margin: "0px";
  width: "100%";
  height: "100%";
}

.playlist-container-open {
  font-size: 20px;
  display: inline-block;
  padding: 1px;
  border-radius: 10px;

  color: white;
  z-index: 1;
}
.all-playlists {
  z-index: -1;
}
.all-playlist-fade-back {
  z-index: -1;
}

.songs-in-playlist-container-open {
  width: "530px";
  text-align: center;
  font-size: 20px;
  padding: 1px;
  border-radius: 10px;
  color: rgb(126, 121, 121);
}
.songs-in-playlist-container-closed {
  display: none;
}
.song-title {
  text-align: left;
  font-size: 20px;
  width: 300px;
}
.show {
  display: inline;
  visibility: visible;
  background-color: none;
}
.showIt {
  visibility: visible;
}

.hide {
  display: none;
}

.Intro-page {
  justify-content: center;

  margin: auto

}
.loggedIn {
  padding-top: 55px;
}
.loggedOut {
  padding: 8%;
}
#remove-button {
  width: 100px;
  font-size: 15px;
  padding: 8px;
}


.deleted {
  animation: strikethru 0.5s ease forwards;
}
@keyframes strikethru {
  0% {
    width: calc(0% - 2em);
  }
  100% {
    width: calc(100% - 2em);
  }
}
/* ///////Navigation Header\\\\\\ */
.nav-list {
  margin-top: 100px;
  padding-top: 20px;
  display: -webkit-flex;
  display: flex;
  width: 70%;
  align-items: center;
  margin: auto;
  font-size: 20px;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style-type: none;
  color: rgb(126, 121, 121);
}
.nav-container {
  display: inline;
  margin: 55px, 20px;
}
.nav-container:hover {
  color: white;
}
li:hover {
  color: white;
}
.nothing {
  background-color: rebeccapurple;
}
a:active {
  background-color: #1bb954;
}
.cancel-img {
  height: 270px;
  opacity: 0.6;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
}
.spotify-logo {
  height: 60px;
  top: 35px;
}

/* /// Carousel \\\\ */
.carousel-divs {
  background-color: rgb(29, 28, 28);
  margin: 0px;
  width: 100%;
  height: 100%;
}
.control-dots {
  position: relative;
    margin-top: 30px;
    display: none;
}
.control-arrow{
  margin: 0px 12%
}

/*///// Display Problems  \\\*/
@keyframes blinkingText{
  0%{     color: white;    }
  10%{    color: transparent; }
  20%{    color: white;  }
  30%{    color:transparent;  }
  40%{    color: transparent; }
  50%{    color: white;  }
  60%{    color:transparent;  }
  70%{    color: transparent; }
  80%{    color: white;  }
  90%{    color:transparent;  }
  100%{   color: white;    }
}
.blinking{
  animation:blinkingText 3s ;
}

.hashResults{
  margin: auto;
  font-size: 30px;
  color: white;
  
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/*////////////////////////////// Iphone X /////////////////////*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}