.playlist-container-closed {
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  color: rgb(126, 121, 121);
}

.playlist-container-open {
  font-size: 20px;
  display: inline-block;
  padding: 1px;
  border-radius: 10px;
  color: white;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  padding: 80px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.songs-in-playlist-container-open {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 14px;
  padding: 1px;
  border-radius: 10px;
  color: rgb(126, 121, 121);
  max-height: 55vh;
  overflow: scroll;
  backdrop-filter: blur(4px);
}
.songs-in-playlist-container-closed {
  display: none;
}
.songs-container-open {
  width: 500px;
  padding: 5px;
  border-radius: 2px;
}
.songs-in-playlist-container-open div {
  background-color: rgb(53 52 52 / 79%);
}

.album-image {
  height: '220px';
  width: 180px;
  border-radius: 2px;
  margin: 10px;
}
.album-image:hover {
  box-shadow: 0 12px 16px 0 rgba(128, 125, 125, 0.39), 0 17px 50px 0 rgba(128, 125, 125, 0.61);
}
.playlist-title {
  font-size: 20px;
}
